[credential]
	helper = cache
[user]
	name = Blain Smith
	email = rebelgeek@blainsmith.com
	signingkey = B89781781EA8681A
[core]
	editor = atom --wait
[gui]
	fontui = -family Cantarell -size 12 -weight normal -slant roman -underline 0 -overstrike 0
	fontdiff = -family \"Droid Sans Mono\" -size 11 -weight normal -slant roman -underline 0 -overstrike 0
	spellingdictionary = none
	tabsize = 4
[http]
	cookiefile = /home/blainsmith/.gitcookies
