[credential]
	helper = cache
[user]
	name = Blain Smith
	email = blainsmith@users.noreply.github.com
	signingkey = B89781781EA8681A
[merge]
	ff = false
[core]
	editor = atom --wait
[commit]
	gpgsign = true
