/*

!/.config/
/.config/*
!/.config/terminator
!/.config/i3

!/.ssh/
/.ssh/*
!/.ssh/config

!/oh-my-zsh/

!.bash_profile
!.bashrc
!.gitconfig
!.gitignore
!.xprofile
!.xscreensaver
!.Xresources
!.zshrc
!.zshrc.pre-oh-my-zsh
